@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

:root {
	/* Main Colors */
	--primary-color: #f9f8f5;
	--secondary-color: #c8e7fb;
	--accent-color: #e5dbeb;
	--background-color: #f3f8fa;
	--text-color: #000000;

	/* Interaction Colors */
	--button-bg: var(--primary-color);
	--button-text: var(--text-color);
	--button-hover-bg: #ffffff;
	--button-hover-text: #ffffff;

	/* Cards */
	--blue-card-bg: #c8e7fb;
	--blue-card-text: #7fa0b5;
	--purple-card-bg: #e5dbeb;
	--purple-card-text: #987da5;
	--orange-card-bg: #fae4d0;
	--purple-card-text: #c28951;

	/* Site Fonts*/
	--heading-text: "Inter", sans-serif;
	--body-text: "Inter", "sans-serif";
	--h1: 3.053rem; /* Approximately 49px */
	--h2: 2.442rem; /* Approximately 39px */
	--h3: 1.954rem; /* Approximately 31px */
	--h4: 1.563rem; /* Approximately 25px */
	--h5: 1.25rem; /* Approximately 20px */
	--small: 12px; /* Approximately 13px */
	--base-size: 16px; /* base font size */

	/* Site Sizes (Spacing for margins, padding, etc.) */
	--spacing-xxs: 0.25rem; /* 4px */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 1rem; /* 16px */
	--spacing-md: 1.5rem; /* 24px */
	--spacing-lg: 2rem; /* 32px */
	--spacing-xl: 3rem; /* 48px */
	--spacing-xxl: 4rem; /* 64px */

	/* Borders and Radius */
	--border-radius: 12px;

	/* Shadows */
	--shadow-default: 0 1px 3px rgba(0, 0, 0, 0.3);
}
